<div class="navigation" style="margin-top: 25px">
  <div class="nav-container" style="text-align: center;">
    <nav>
      <ul>
        <li style="margin-top: -10px">
          <img style="height:125px;width:125px" src="./../../../../../assets/images/logo.jpg" class="img-responsive img-circle">
        </li>
      </ul>
      <p-dropdown [style]="{'width':'250px'}"  placeholder="Select company"></p-dropdown>
      <!-- <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="{'width':'150px'}" filter="filter">
        <ng-template let-car pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px" />
            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
          </div>
        </ng-template>
      </p-dropdown> -->
      <ul class="nav-list nav-list-right">
        <li>
          <a routerLink="/gateway/addcompany"><span data-toggle="tooltip" title="Add company" class="glyphicon glyphicon-plus icon-t"></span></a>

        </li>
        <li>
          <a routerLink="/gateway/companylist" data-toggle="tooltip" title="Company List!"><span class="glyphicon glyphicon-asterisk icon-t"></span></a>

        </li>
        <li>
          <a>
            <div class="user-img-div-top">
              <img src="./../../../../../assets/images/profile.PNG" class="dropdown-toggle img-responsive img-circle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
              <ul class="dropdown-menu drop_style">
                <li><a href="#">Backup</a></li>
                <li><a href="#">Restore</a></li>
                <li role="separator" class="divider"></li>
                <li><a (click)="logout()">Log out</a></li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>