<form id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="main-content" style="scroll-behavior: hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title text-center">Contra</h2>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-md-6 col-lg-offset-3">

                                    <div class="col-xs-4 ">
                                        <h5 class="text-center">Step 1</h5>
                                        <div href="#step-1" [ngClass]="{'actived': selectedIndex == 1}" class="progress" type="button"></div>
                                    </div>

                                    <div class="col-xs-4 ">
                                        <h5 class="text-center">Step 2</h5>
                                        <div href="#step-2" [ngClass]="{'actived': selectedIndex == 2}" class="progress" type="button"></div>

                                    </div>

                                    <div class="col-xs-4 ">
                                        <h5 class="text-center">Step 3</h5>
                                        <div href="#step-3" [ngClass]="{'actived': selectedIndex == 3}" class="progress" type="button"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content tab-content" style="width: 70%; margin-left: 10%;">
                            <div id="step1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Name of company</label>
                                            <input type="text" class="form-control" [(ngModel)]="companyName" name="company_name" placeholder="Company Name" formControlName="companyName">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Company Pan</label>
                                            <input type="text" class="form-control" placeholder="Username" formControlName="pan">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" formControlName="email">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Company Gstin</label>
                                            <input type="text" class="form-control" placeholder="City" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>city</label>
                                            <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="number" class="form-control" placeholder="ZIP Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" data-toggle="tab" href="#step2" (click)="setSelected(2)" class="btn btn-info btn-fill pull-left">Next</button>
                                </div>


                            </div>
                            <div id="step2" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" placeholder="City" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="business">Nature of business:</label>
                                            <br>
                                            <select class="form-control" id="business" name="business" formControlName="natureOfBuisness">
                                                <option value="freight" selected>Freight</option>
                                                <option value="option2">Option2</option>
                                                <option value="option3">Option3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="currency">Currency:</label>
                                            <br>
                                            <select class="form-control" id="currency" name="currency" formControlName="currency">
                                                <option value="inr" selected>₹ - INR</option>
                                                <option value="usd">$ - USD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="language">Preferred language</label>
                                            <br>
                                            <select class="form-control" id="language" name="language" formControlName="language">
                                                <option value="english" selected>English</option>
                                                <option value="hindi">Hindi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Starting Date</label>
                                            <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
                                            <date-picker formControlName="date"></date-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>End date</label>
                                            <date-picker formControlName="date2"></date-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" data-toggle="tab" href="#step1" (click)="setSelected(1)" class="btn btn-info btn-fill pull-left">back</button>
                                    <button type="submit" data-toggle="tab" href="#step3" (click)="setSelected(3)" class="btn btn-info btn-fill pull-left">Next</button>
                                </div>

                                <!-- <a data-toggle="tab" href="#step1">
                                    <button (click)="setSelected(1)">back</button>
                                </a>
                                <a data-toggle="tab" href="#step3">
                                    <button (click)="setSelected(3)">next</button>
                                </a> -->
                            </div>
                            <div id="step3" class="tab-pane fade">
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-4">
                                        <div class="input-group info-text">
                                            <ul>
                                                <li>Should be .jpg or .png of at least 200x200px.</li>
                                                <li>Maximum file size 200kb.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="company-logo">Company logo:</label>
                                            <br>
                                            <span class='label label-default' id="upload-file-info"></span>
                                            <div class="form-inline">
                                                <!-- <div class="input-group company-logo-div">
                                                <img *ngIf="!image_view" id="company-logo" height="50px;width:50px" src="../../../../../assets/images/signup/company-logo.PNG">
                                                <img *ngIf="image_view" id="company-logo" height="50px;width:50px" src={{imageFile}}>
                                            </div> -->
                                                <div class="input-group info-text">
                                                    <ul style="margin-left: -50px;">
                                                        <li>
                                                            <!-- <input type="file" class="file" accept="image/x-png,image/jpg" formControlName="logo" (change)="handleFileUpload($event)"> -->
                                                            <br>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="company-logo">Signature pic:</label>
                                            <br>
                                            <span class='label label-default' id="upload-file-info"></span>
                                            <div class="form-inline">
                                                <!-- <div class="input-group company-logo-div">
                                                <img *ngIf="!image_view" id="company-logo" height="50px;width:50px" src="../../../../../assets/images/signup/company-logo.PNG">
                                                <img *ngIf="image_view" id="company-logo" height="50px;width:50px" src={{imageFile}}>
                                            </div> -->
                                                <div class="input-group info-text">
                                                    <ul style="margin-left: -50px;">
                                                        <li>
                                                            <input type="file" class="file" accept="image/x-png,image/jpg" formControlName="logo" (change)="handleFileUpload($event)">
                                                            <br>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" data-toggle="tab" href="#step2" (click)="setSelected(2)" class="btn btn-info btn-fill pull-left">Back</button>

                                <button type="submit" class="btn btn-info btn-fill pull-right">Getting started</button>
                                <div class="clearfix"></div>
                                <!-- <a data-toggle="tab" href="#step2">
                                    <button (click)="setSelected(2)">back</button>
                                </a> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>