    $color_desert_storm_approx: #f8f8f8;
    $color_cararra_approx: #ebebeb;
    $color_bon_jour_approx: #e0e0e0;
    $color_stack_approx: #8e8e8e;
    $color_scarlet_approx: #ff3200;
    $black: #000;
    $white: #fff;
    $color_green_approx: #1fe820;
    $color_dove_gray_approx: #6e6e6e;
    $color_silver_chalice_approx: #aeaeae;
    $black_20: rgba(0, 0, 0, 0.2);
    $alabaster: #fafafa;
    $color_concrete_approx: #f3f3f3;
    $color_celeste_approx: #cecece;
    $color_star_dust_approx: #9e9e9e;
    $color_mine_shaft_approx: #2e2e2e;
    $color_wild_sand_approx: #f5f5f5;
    $color_heavy_metal_approx: #2c2c2c;
    $color_malachite_approx: #1fd720;
    $color_forest_green_approx: #17c118;
    $navbar-left-margin: 0;
    $navbar-min-width: 630px;
    $nav-height: 50px;
    @mixin centerer {
        position: absolute;
        top: 50%;
        left: calc(50% - 112.5px);
        transform: translate(-50%, -50%);
    }

    @mixin centerer-x {
        position: absolute;
        left: calc(50%);
        transform: translate(-50%);
    } //@extend-elements
    //original selectors
    //html, body
    %extend_1 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
    } //original selectors
    //.side-links ul li a:hover, .side-links ul li a:active
    %extend_2 {
        color: $black;
        border-left: 6px solid $color_scarlet_approx;
        background: $color_bon_jour_approx;
        background: linear-gradient(to right, $color_bon_jour_approx, $color_desert_storm_approx);
    } //original selectors
    //tr:nth-child(1) .tab-pane ul li a:active, tr:nth-child(1) .tab-pane ul li a:focus
    %extend_3 {
        color: $color_mine_shaft_approx;
        font-weight: bolder;
        outline: none;
    } //original selectors
    //.nav-tabs >li.active >a, .nav-tabs >li.active >a:focus, .nav-tabs >li.active >a:hover
    %extend_4 {
        border: 0;
        border-radius: 0;
        color: $color_heavy_metal_approx;
        background-color: $white;
    } //original selectors
    //.box4, .box6, .box7, .box8
    %extend_5 {
        text-align: center;
        color: $color_mine_shaft_approx;
        font-size: 14pt;
        width: 100%;
        height: 100%;
    }

    html {
        @extend %extend_1;
    }

    body {
        @extend %extend_1;
    } // Outer navigation wrapper
    .navigation {
        height: $nav-height;
        background: #ffffff;
        margin-left: $navbar-left-margin;
        min-width: $navbar-min-width;
        width: calc(100%);
        border-left: 1px solid #ebebeb; //box-shadow: 0 1px 2px -2px #3e3e3e;
        position: absolute;
        z-index: 1000;
    } // Container with no padding for navbar
    .nav-container {
        max-width: 100%;
        margin: 0 auto;
    }
    /*Navigation Bar*/

    nav {
        float: none;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                position: relative;
                a,
                a:visited {
                    display: block;
                    padding: 0 15px;
                    line-height: $nav-height;
                    background: #ffffff;
                    color: #6e6e6e;
                    text-decoration: none !important;
                    &:hover {
                        color: #000000;
                    }
                    &:focus {
                        background: #f1f1f1;
                        color: #000000;
                    }
                    &:not(:only-child):after {}
                    .user-img-div-top {
                        width: 40px;
                        height: 40px;
                        margin: 5px 5px 5px 0;
                        border-radius: 100%;
                        cursor: pointer;
                        a img {
                            margin-left: 5px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                ul.nav-dropdown.user-img-toggle {
                    margin-right: 10px !important;
                    li {
                        &:first-child a {
                            text-align: center;
                            font-weight: bolder;
                        }
                        &:nth-child(2) {
                            text-align: center;
                            a {
                                display: inline-block;
                                width: auto;
                                padding: 5px 10px;
                                color: #ffffff !important;
                                font-size: 8pt;
                                background-color: #1fe820;
                                border-radius: 5px;
                            }
                        }
                        a {
                            span {
                                padding-right: 10px;
                            }
                        }
                    }
                }
                ul {
                    background-color: #ffffff;
                    li {
                        min-width: 175px;
                        a {
                            color: #000000 !important;
                            padding: 10px 20px;
                            line-height: 8px;
                            vertical-align: middle;
                            &:hover {
                                background-color: #1fe820 !important;
                                color: #000000;
                                font-weight: bolder;
                            }
                        }
                    }
                }
                form {
                    a {
                        cursor: pointer;
                        padding-left: 4px !important;
                        line-height: 2.8;
                        vertical-align: middle;
                    }
                    ul {
                        width: 177px;
                        margin-top: -6px !important;
                        background-color: #ffffff;
                        z-index: 1000;
                        li a {
                            padding: 10px 20px !important;
                        }
                    }
                }
                hr {
                    margin: 5px;
                }
            }
        }
    }

    .nav-list {
        display: block !important;
        .nav-dropdown {
            top: 58px;
            position: absolute;
            display: none;
            z-index: 1;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid #cecece;
            border-radius: 5px;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        }
        .nav-dropdown::before {
            border-bottom: 9px solid #cecece;
            border-left: 9px solid rgba(0, 0, 0, 0);
            border-right: 9px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            left: 0;
            margin-left: 13px;
            position: absolute;
            top: -9px;
        }
        .nav-dropdown::after {
            border-bottom: 8px solid #ffffff;
            border-left: 9px solid rgba(0, 0, 0, 0);
            border-right: 9px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            left: 0;
            margin-left: 13px;
            position: absolute;
            top: -7px;
        }
    }

    .nav-list-right {
        float: right;
        .nav-dropdown {
            right: 5px;
        }
        .nav-dropdown::before {
            right: 0;
            left: 100%;
            margin-left: -32.5px;
            margin-right: 13px;
        }
        .nav-dropdown::after {
            right: 0;
            left: 100%;
            margin-left: -32.5px;
            margin-right: 13px;
        }
    }
    /*Notifications*/

    .notifications {
        min-width: 320px;
        background-color: #ffffff;
        .notifications-wrapper {
            overflow: auto;
            max-height: 250px;
            padding-left: 0;
            padding-right: 0;
            a.content {
                text-decoration: none;
                padding: 0;
                .notification-item {
                    padding: 10px;
                    margin: 10px;
                    background-color: #fafafa;
                    border-radius: 4px;
                    box-shadow: 0 0 5px #aeaeae;
                    .item-title {
                        font-size: 11pt;
                        margin: 0 auto 0 auto;
                        padding: 0 auto 0 auto;
                        color: #000000;
                    }
                    .item-info {
                        margin: 0 auto 0 auto;
                        padding: 0 auto 0 auto;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 50px;
                background-color: #f3f3f3;
            }
            &::-webkit-scrollbar-thumb {
                width: 8px;
                border-radius: 50px;
                background-color: #cecece;
                &:hover {
                    background-color: #9e9e9e;
                }
            }
        }
    }
    /*Search Box*/

    .search-box {
        height: 100%;
        width: auto;
        padding: 7px 0 7px 0;
        margin-left: 5px;
        .form-wrapper {
            width: 100%;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            .search-option-btn {
                position: absolute;
                float: left;
                border: 0;
                padding: 0 1px;
                height: 35px;
                width: 36px;
                font-size: 10pt;
                color: #fff;
                background: #5e5e5e;
                border-radius: 3px 0 0 3px;
                &:focus {
                    outline: none;
                }
            }
            input {
                width: 195px;
                height: 35px;
                margin-left: 35px;
                padding: 10px 5px;
                float: left;
                border: 1px solid #cecece;
            }
            input:focus {
                outline: 0;
                background: #fff;
                -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
                -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
                box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
            }
            .search-btn {
                position: absolute;
                float: left;
                padding: 0;
                height: 35px;
                width: 35px;
                color: #3e3e3e;
                background: #1fe820;
                border: 1px solid #1dc31e;
                border-radius: 0 3px 3px 0;
                &:hover {
                    background: #1ff020;
                }
                 :active {
                    background: #1dcd1e;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

    @media only screen and (min-width: 855px) {
        .search-box {
            @include centerer;
            .form-wrapper input {
                width: 22vw;
            }
        }
    }
    /*Sidebar*/

    .sidebar {
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        width: auto;
        margin: 0;
        padding: 0;
        background-color: $color_desert_storm_approx;
        border-right: 1pt solid $color_cararra_approx;
        z-index: 2000;
    }

    .logo-back {
        width: 100%;
        height: auto;
        border-bottom: 1pt solid $color_bon_jour_approx;
        text-align: center;
    }

    .logo-img-div {
        width: 225px;
        height: auto;
        padding: 25px 10px 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .side-links {
        height: auto;
        margin: 20px 0 0;
        padding: 0;
        background-color: $color_desert_storm_approx;
        ul {
            padding: 0;
            height: 100%;
            li {
                padding: 0;
                a {
                    margin: 0;
                    padding: 10px 15px 10px 30px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: $color_stack_approx;
                    font-weight: bolder;
                    &:hover {
                        @extend %extend_2;
                    }
                    &:active {
                        @extend %extend_2;
                    }
                }
            }
        }
        li a span {
            color: $color_scarlet_approx;
        }
    }

    .details {
        margin-top: 50px;
        height: auto;
        margin-left: 225px;
        width: calc(100% - 225px);
        position: absolute;
        padding: 8px 0 8px 30px !important;
        background-color: $color_desert_storm_approx;
        border-top: 1px solid $color_cararra_approx;
        border-bottom: 1px solid $color_cararra_approx;
        z-index: 50;
        .btn-breadcrumb .btn {
            padding: 6px 12px 6px 24px;
            font-family: Helvetica, sans-serif;
            &:first-child {
                padding: 6px 6px 6px 10px;
                border-radius: 2px 0 0 2px;
                padding-right: 10px !important;
                &:hover,
                &:active,
                &:focus {
                    background-color: $white;
                }
                &:focus {
                    //background-color: #d0d0d0;
                }
            }
            &:last-child {
                background-color: #d0d0d0;
                color: $white;
                border-radius: 0;
            }
            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 10px solid white;
                position: absolute;
                top: 50%;
                margin-top: -17px;
                left: 100%;
                z-index: 3;
            }
            &:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 10px solid #aeaeae;
                position: absolute;
                top: 50%;
                margin-top: -17px;
                margin-left: 1px;
                left: 100%;
                z-index: 3;
            }
            &:not(:last-child):after {
                border-left: 10px solid #fff;
            }
            &:not(:last-child):before {
                border-left: 10px solid #aeaeae;
            }
            /*&:hover:after {
			border-left: 10px solid #d0d0d0;
		}
		&:hover:not(:last-child):before {
			border-left: 10px solid #aeaeae;
		}*/
            &:last-child:after {
                border-left: 10px solid #d0d0d0;
            }
            &:active:after {
                border-left: 10px solid #d0d0d0;
            }
        }
    }

    .main-body {
        margin-top: 100px;
        position: absolute;
        margin-left: 225px;
        width: calc(100% - 225px);
        min-width: 788px;
        background-color: $white;
    }

    .tab-body {
        width: 100%;
        padding: 20px 50px;
        .nav-tabs {
            border: none;
            li {
                margin: 0;
                width: 50%;
                display: inline-block;
                text-align: center;
                border-bottom: 2px solid #ececec;
                a {
                    font-size: 16pt;
                    color: $color_star_dust_approx;
                    border: none;
                    border-radius: 0;
                    background-color: $white;
                    &:hover,
                    &:active,
                    &:focus {
                        border: none;
                    }
                    span {
                        color: $color_scarlet_approx;
                    }
                }
            }
        }
        .nav-tabs>.active {
            border-bottom: 4px solid $color_dove_gray_approx;
            transition: all 0.25s ease-in-out;
            a {
                color: $color_dove_gray_approx;
                font-weight: bolder;
            }
        }
        .tab-content {
            color: $black;
            height: 100%;
            padding: 5px 15px;
        }
        .div-1 {
            //border: 1pt solid black;
            table {
                width: 100%;
                td {
                    width: 50%;
                    padding: 50px 50px 20px 25px;
                    vertical-align: top;
                    form .form-group {
                        margin-bottom: 20px !important;
                        input {
                            margin-top: -5px !important;
                            border: none !important;
                            border-radius: 0 !important;
                            border-bottom: 1px solid #cecece !important;
                            box-shadow: none !important;
                            padding-left: 0 !important;
                            font-size: 12pt;
                            caret-color: $color_forest_green_approx;
                            &:focus {
                                border-bottom: 2px solid #1fe820 !important;
                                transform: scale(1.03, 1.05);
                                transition: all 250ms ease-in-out;
                            }
                        }
                        select {
                            border: none !important;
                            border-radius: 0 !important;
                            border-bottom: 1px solid #cecece !important;
                            box-shadow: none !important;
                            padding-left: 0 !important;
                            font-size: 12pt;
                            &:focus {
                                border-bottom: 2px solid #1fe820 !important;
                            }
                        }
                    }
                }
            }
        }
        .div-2 {
            //border: 1pt solid black;
            margin: 50px 50px auto 25px;
            table {
                width: 100%;
                height: auto;
                tr th {
                    height: 40px;
                    &:not(first-child) {
                        text-align: center;
                    }
                    &:first-child {
                        width: 45%;
                        text-align: left;
                        padding-left: 20px;
                    }
                }
                tr:nth-child(2) {
                    height: 200px;
                }
            }
        }
        .div-3 {
            margin: 100px 200px auto 50px;
            table {
                width: 100%;
                height: auto;
                tr {
                    th {
                        height: 40px;
                        text-align: center;
                        width: 33%;
                        padding: auto 50px;
                        hr {
                            margin-top: 10px;
                            border: none;
                            height: 1px;
                            background-color: #ccc;
                            width: 60%;
                        }
                    }
                    td {
                        text-align: center;
                    }
                }
            }
        }
        .div-4 {
            margin: 20px 50px 50px 50px;
            table {
                width: 100%;
                height: auto;
                tr {
                    td {
                        padding: 10px 10px;
                        &:first-child {
                            width: 50%;
                            text-align: left;
                            .narration {
                                width: 60%;
                                min-width: 200px;
                                height: 75px;
                                border: 1px solid #ccc;
                            }
                        }
                        &:nth-child(2) {
                            width: 50%;
                            padding-left: 5%; //padding-right: 5%;
                            text-align: left;
                            .td-right-top {
                                margin-bottom: 30px;
                                .p1 {
                                    font-weight: bolder;
                                    display: inline;
                                }
                                .gross-total {
                                    margin-left: 20px;
                                    padding: 12px;
                                    display: inline;
                                    width: auto;
                                    min-width: 200px;
                                    height: auto;
                                    border-top: 1px solid #ccc;
                                    border-bottom: 1px solid #ccc;
                                }
                            }
                            .form-control {
                                border: none;
                                box-shadow: none; //width: 110px !important;
                            }
                        }
                    }
                }
            }
        }
        .save-btn {
            //margin-left: 250px;
            @include centerer-x;
            width: 150px;
            margin-bottom: 50px;
            background-color: #aeaeae;
            padding: 5px 0 !important;
            color: $white;
            font-size: 12pt;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            span {
                color: $color_scarlet_approx;
            }
            &:hover {
                background-color: #9e9e9e;
            }
            &:active,
            &:focus {
                outline: none;
            }
            &:active {
                background-color: #8e8e8e;
            }
        }
    }

    nav {
        height: 100px!important;
        padding: 10px 0 0 0!important;
        width: 87%!important;
        margin-left: 70px!important;
    }

    .icon-t {
        font-size: 20px
    }

    .drop_style {
        // margin: 0 150px 0 0 ;
        direction: rtl;
    }

    .ui-dropdown .ui-dropdown-trigger {
        background-color: green!important
    }

    .ui-dropdown {
        background-color: black;
    }

    .ui-dropdown-label {
        color: white;
    }

    .ui-dropdown-label:hover {
        color: red
    }

    .ui-dropdown-item {
        color: white;
        background-color: black;
    }