<div class="navigation" style="margin-top: 25px">
    <div class="nav-container" style="text-align: center;">
        <nav>
            <ul>
                <li style="margin-top: -10px">
                    <img style="height:125px;width:125px" src="./../../../../../assets/images/logo.jpg" class="img-responsive img-circle">
                </li>
            </ul>
            <ul class="nav-list nav-list-right">
                <li>
                    <a routerLink="/gateway/addcompany"><span data-toggle="tooltip" title="Add company" class="glyphicon glyphicon-plus icon-t"></span></a>

                </li>
                <li>
                    <a routerLink="/gateway/companylist" data-toggle="tooltip" title="Company List!"><span class="glyphicon glyphicon-asterisk icon-t"></span></a>

                </li>
                <li>
                    <a>
                        <div class="user-img-div-top">
                            <img src="./../../../../../assets/images/profile.PNG" class="dropdown-toggle img-responsive img-circle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <ul class="dropdown-menu drop_style">
                                <li><a href="#">Backup</a></li>
                                <li><a href="#">Restore</a></li>
                                <li role="separator" class="divider"></li>
                                <li (click)="logout()"><a routerLink="/login" routerLinkActive="active">Log out</a></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>