<div class="main-content" style="scroll-behavior: hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <!-- heading here -->
                    <div class="header">
                        <h2 class="title text-center">Sales</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 title text-center ">
                            <p> Select Period:</p>
                        </div>
                        <div class="col-lg-6 title text-center">
                            <p> Select Filter:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="title text-center">From</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-1">
                            <label class="title text-center">To</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-6">
                            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)" [selectedItems]="selectedItems" (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="width: 200%">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-1" >
                            <h6>Date</h6>
                        </div>
                        <div class="col-lg-1" >
                            <h6>Invoice No.</h6>
                        </div>
                        <div class="col-lg-1" >
                            <h6>Party No.</h6>
                        </div>
                        <div class="col-lg-1" >
                            <h6>Sub Amount</h6>
                        </div>
                        <div class="col-lg-1" >
                            <h6>GST Amount</h6>
                        </div>
                        <div class="col-lg-1" >
                            <h6>Total Amount</h6>
                        </div>
                        <div class="col-lg-1" [hidden]="!ColTransportation">
                            <h6>Transportation</h6>
                        </div>
                        <div class="col-lg-1" [hidden]="!ColSaleType">
                            <h6>Type of sales</h6>
                        </div>
                        <div class="col-lg-1" [hidden]="!ColPlaceSupply">
                            <h6>Place of supply</h6>
                        </div>
                        <div class="col-lg-1" [hidden]="!ColVehicle">
                            <h6>Vehicle Number</h6>
                        </div>
                        <div class="col-lg-1" [hidden]="!ColGstRate">
                            <h6>Gst Rate</h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>