<div class="main-content" style="scroll-behavior: hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <!-- heading here -->
                    <div class="header">
                        <h2 class="title text-center">Ledger</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 title text-center ">
                            <p> Select Period:</p>
                        </div>
                        <div class="col-lg-6 title text-center">
                            <p> Select Filter:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="title text-center">From</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-1">
                            <label class="title text-center">To</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-6">
                            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" [selectedItems]="selectedItems"></angular2-multiselect>
                        </div>
                    </div>
                    <div>
                        <ng-select [allowClear]="true" [items]="items" (selected)="selected($event)">
                        </ng-select>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date </th>

                                    <th> Particulars</th>

                                    <th> Voucher</th>

                                    <th> Debit Amount</th>

                                    <th> Creit Amount </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let list of LedgerData">
                                    <td>{{list.date|date}}</td>
                                    <td>{{list.ledgerName}}</td>
                                    <td>{{list.voucherType}}</td>
                                    <td>{{list.debitAmount}}</td>
                                    <td>{{list.creditAmount}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>