    .warn {
        color: red;
    }

    #submit {
        margin: 25px 0 0 150px
    }

    .success-message {
        padding: 7px 0 0 15px;
        text-align: center;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
        background: #22ff22;
        color: black;
    }

    .form-control {
        display: block;
        border: 1px solid #cbcbcb!important;
        width: 415px!important;
    }

    .btn-last {
        margin-bottom: 60px!important;
        background-color:  #7ace3c;
    }